extends layout

block content
  button#trigger(type='button') Add
  code#messages
  div#outer

block scripts
  script(src='/components/jade/jade.js')
  script(src='/components/jade/runtime.js')
  script(src='/templates/object.js')
  script(src='/javascripts/names.js')
  script(src='/javascripts/index.js')
